@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  button,
  [type="button"] {
    background-color: theme("colors.tertiary");
    border-radius: 1.6rem;
    padding: 0.2rem 1rem;
    color: theme("colors.primary");
    font-weight: bold;
  }

  button,
  [type="submit"] {
    background-color: theme("colors.tertiary");
    border-radius: 1.6rem;
    padding: 0.5rem 1rem;
    width: 10rem;
    color: theme("colors.primary");
    font-weight: bold;
    font-size: 0.8rem;
  }

  .register-button,
  .login-button {
    background: none;
    color: theme("colors.secondary");
    font-weight: normal;
  }

  .profilTitle {
    position: relative;
  }

  .profilTitle::after {
    content: "";
    position: absolute;
    border-bottom: 1.5px solid theme("colors.secondary");
    width: 25%;
    top: 0;
    bottom: 0;
  }

  .textImgProfil {
    transform: translate(-50%, -50%);
  }

  .fiche:hover .imgProfil {
    opacity: 0.3;
  }

  .fiche:hover .textImgProfil {
    opacity: 1;
  }

  .active-nav {
    animation-name: navactive;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes navactive {
    to {
      border-top: solid;
      border-bottom: solid;
      padding: 5px;
      color: theme("colors.tertiary");
      font-weight: bold;
    }
  }

  .slide-out {
    height: auto;
    overflow: hidden;
    animation-name: growdelay;
    animation-duration: 2.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }

  .slide-in {
    height: 0;
    overflow: hidden;
    animation-name: reduce;
    animation-duration: 1.1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }

  @keyframes growdelay {
    0% {
      height: 0;
    }

    50% {
      height: 0;
    }

    100% {
      height: 100%;
    }
  }

  @keyframes reduce {
    0% {
      height: 100%;
    }

    100% {
      height: 0;
    }
  }

  /* BugerMenu */
  .burger {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  label span {
    background: theme("colors.secondary");
    border-radius: 10px;
    height: 7px;
    margin: 4px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  span:nth-of-type(1) {
    width: 50%;
  }

  span:nth-of-type(2) {
    width: 100%;
  }

  span:nth-of-type(3) {
    width: 75%;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(6px, 0px);
  }

  input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
  }

  input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(18px, -9px) rotatez(45deg);
  }
  .menu {
    transition: transform 0.4s ease-out;
    z-index: 5;
  }

  .active {
    transform: translate(0);
  }
}
